<h1><%= @greeting %></h1>

<p>
    <%= @greeting %>, você foi escolhido para ser o amigo secreto de:
    <br>
    <strong>Participante 2:</strong> <%= @participant2 %> (Email: <%= @participant2 %>)
</p>